:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    form {
        display: flex;
        flex-direction: column;
        section {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex-direction: column;
            }
        }
    }
}